@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";
.p-footer {
    padding: 120px 0;
    background: #111827;
    .p-footer__logo-link {
        display: block;
        width: 140px;
        .p-footer__logo {
            width: 100%;
            height: auto;
        }
    }
}
