@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";
.p-recruit {
    padding: 120px 0;
    .p-recruit__container {
        display: grid;
        justify-content: space-between;
        grid-template-columns: 30% 30% 30%;
        row-gap: 50px;
        .p-recruit__wrapper {
            width: 100%;
            .p-recruit__box {
                .p-recruit__item-img {
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                    border-radius: 10px;
                }
                .p-recruit__item-detail-wrapper {
                    .p-recruit__item-title {
                        color: color.$textColor;
                        font-size: 2rem;
                        letter-spacing: 0.05em;
                    }
                }
            }
        }
    }
}