@charset "UTF-8";
@use "../../foundation/mixin";
@use "../utility/color";
.p-top-fv {
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
    background-image: url("../images/top/mv.jpg");
    background-size: cover;
    background-position: center;
    .p-top-fv__title-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        .p-top-fv__title {
            font-size: 4.8rem;
            font-weight: 700;
            letter-spacing: 0.1em;
            color: color.$subColor;
            .p-top-fv__title-font {
                color: color.$mainColor;
                font-size: 5.8rem;
            }
        }
        .p-top-fv__subtitle {
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: 0.05em;
            line-height: 1.7;
            margin: 40px 0 90px;
            color: color.$subColor;
        }
        .p-top-fv__link-wrapper {
            display: flex;
            justify-content: center;
            column-gap: 45px;
            .p-top-fv__search-link {
                background: color.$subColor;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                color: color.$mainColor;
                font-weight: 700;
                letter-spacing: 0.05em;
                font-size: 1.8rem;
                column-gap: 6px;
                .fa-arrow-right {
                    margin-top: 2px;
                }
            }
            .p-top-fv__register-link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 200px;
                background: color.$mainColor;
                color: color.$subColor;
                font-weight: 700;
                letter-spacing: 0.05em;
                font-size: 1.8rem;
                column-gap: 6px;
                .fa-arrow-right {
                    margin-top: 2px;
                }
            }
        }
    }
}

// マッチ工場ナビとは
.p-top-about {
    padding: 120px 0;
    .p-top-about__title-wrapper {
        text-align: center;
        margin-bottom: 60px;
    }
    .p-top-about__top-text {
        text-align: center;
        line-height: 1.8;
        font-size: 1.6rem;
    }
    .p-top-about__item-container {
        display: flex;
        justify-content: space-between;
        margin-top: 80px;
        .p-top-about__item-wrapper {
            width: 30%;
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            text-align: center;
            .p-top-about__item-icon-wrapper {
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background: #DBEAFE;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                .fa-solid {
                    font-size: 3rem;
                }
            }
            .p-top-about__item-title-wrapper {
                display: flex;
                flex-direction: column;
                row-gap: 20px;
                .p-top-about__item-title {
                    font-size: 2.4rem;
                    font-weight: 700;
                    letter-spacing: 0.05em;
                    color: color.$mainColor;
                }
                .p-top-about__item-text {
                    font-size: 1.6rem;
                    letter-spacing: 0.05em;
                    line-height: 1.7;
                }
            }
        }
    }
}

// 地域から選ぶ
.p-top-area {
    padding: 120px 0;
    background: #F9FAFB;
    .p-top-area__title-wrapper {
        text-align: center;
        margin-bottom: 60px;
    }
    .p-top-area__top-text {
        text-align: center;
        line-height: 1.8;
        font-size: 1.6rem;
    }
    .p-top-area__container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        .p-top-area__wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            .p-top-area__item-title {
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 0.05em;
                color: color.$mainColor;
            }
            .p-top-area__item-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .p-top-area__item {
                    .p-top-area__item-link {
                        padding: 0 30px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: color.$subColor;
                        border-radius: 10px;
                        border: 1px solid #b5b5b5;
                        color: color.$textColor;
                        font-size: 1.6rem;
                        letter-spacing: 0.05em;
                    }
                }
            }
        }
    }
}

// 業種から選ぶ
.p-top-industry {
    padding: 120px 0;
    background: #ecf5ff;
    .p-top-industry__title-wrapper {
        text-align: center;
        margin-bottom: 60px;
    }
    .p-top-industry__top-text {
        text-align: center;
        line-height: 1.8;
        font-size: 1.6rem;
    }
    .p-top-industry__container {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        .p-top-industry__wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 15px;
            .p-top-industry__item-title {
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: 0.05em;
                color: color.$mainColor;
            }
            .p-top-industry__item-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                .p-top-industry__item {
                    .p-top-industry__item-link {
                        padding: 0 30px;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: color.$subColor;
                        border-radius: 10px;
                        border: 1px solid #b5b5b5;
                        color: color.$textColor;
                        font-size: 1.6rem;
                        letter-spacing: 0.05em;
                    }
                }
            }
        }
    }
}

// 採用情報
.p-top-recruit {
    padding: 120px 0;
    background-image: url("../images/top/recruit-bg.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
    .p-top-recruit__mask {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: -1;
    }
    .p-top-recruit__title-wrapper {
        text-align: center;
        .p-top-recruit__title {
            color: color.$subColor;
        }
    }
    .p-top-recruit__container {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 60px;
        .p-top-recruit__text {
            text-align: center;
            color: color.$subColor;
            line-height: 1.8;
            font-size: 1.6rem;
        }
        .p-top-recruit__btn {
            background: color.$subColor;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 60px;
            color: color.$mainColor;
            font-weight: 700;
            letter-spacing: 0.05em;
            column-gap: 8px;
            margin: 0 auto;
        }
    }
}